@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import "tailwindcss";



@font-face {
  font-family: 'SkolarSans';
  src: url('/fonts/SkolarSans-BdCond_Cyr-Ltn.woff2') format('woff2');
  /* Add other font formats as needed */
}

:root {
  /* Font Family */
  --font-primary: 'Merriweather', Georgia, Times, "Times New Roman", serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Main Theme Colors */
  --color-white: #FFFFFF;
  --color-dark: #00171F;
  --color-navy: #003459;
  --color-blue: #007EA7;
  --color-light-blue: #00A8E8;

  /* Background Colors */
  --background-light: #f8f9fa;
  --border-color: #eee;

  --font-ur: 'Gulzar', serif;

  /* Noto Nastaliq Urdu font weights */
  --font-ur-regular: 400;
  --font-ur-medium: 500;
  --font-ur-semibold: 600;
  --font-ur-bold: 700;
}

[dir="rtl"] {
  font-family: 'Noto Nastaliq Urdu', serif;
  font-weight: var(--font-ur-regular);
}

[dir="rtl"] * {
  font-family: var(--font-ur);
}

/* Override for English text elements even in RTL mode */
[dir="rtl"] *[lang="en"] {
  font-family: var(--font-en);
}
